.wrap {
  height: var(--page-height);
  margin-top: var(--rootLayout-content-padding-top);
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  padding-bottom: 0.3em;
}

.content {
  display: flex;
  flex-grow: 1;
}

.navbar {
  height: 100%;
}

.outlet {
  width: 100%;
}
@media (max-width: 515px) {
  .content * {
    font-size: var(--small-font-size);
  }
}
