.wrap {
    padding: 1em;
    width:100%;
    /*border: 2px solid green;*/
}

.wrap form{
 
}
.inputs {
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.inputWrap{
    padding:0.5em;
    display:flex;
    flex-direction:column;
    gap:0.5em;
    
}
.inputWrap * {
    font-weight:300;
}
.pageHeader{
    padding:1em;
}

.flexWrap{
    display:flex;
    /*border:2px solid black;*/
    align-items:center;
    gap:0.5em;
}
.verfified {
    margin-bottom: 0.2em;
    color:var(--green-color);
    font-weight:900;
    /*border: 2px solid black;*/
}

@media(max-width:515px){
    .pageHeader {
        font-size: 20px;
    }
}