.wrap {
  width: 100%;
  display: flex;

  justify-content: center;
  gap: 0.3em;
  align-items: center;
}
.select {
  width: 4em;
}
.select,
.label,
.select optgroup,
.select optgroup > * {
  font-size: var(--small-font-size);
}
.select optgroup {
  font-size: var(--small-font-size);
}
