.navbar {
  top: 0.3em;
  height: var(--navbar-height);
  width: 90%;
  position: fixed;
  background-color: var(--honey-color);
  display: flex;
  padding: 0 1em;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
  align-self: center;
}

.logo {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 73px;
  height: 73px;
}

.logo:hover,
.navIcon:hover {
  cursor: pointer;
}

.user {
  display: flex;
  gap: 0.5em;
}
