@use "../vars" as *;
@use "../mixins" as mix;

.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  .small {
    display: none;
  }
  .content {
    height: 100%;
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .item {
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
      width: fit-content;
      margin-bottom: 0.2em;
      font-size: 3em;
      border-bottom: 0.5px solid $blackCol;
    }
    .icon {
      display: flex;
      justify-content: space-around;
      text-align: center;
      width: 100%;
      padding: 1em;
      gap: 1em;
      .taste,
      .benefits {
        max-width: 50%;
        padding: 0.3em;
        // float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.1em;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        h5 {
          margin: 0.4em;
        }
      }

      img {
        width: 2em;
        max-height: 2em;
      }
    }
    p {
      padding: 1em;
    }
  }
}
@media (max-width: 400px) {
  .wrap {
    flex-direction: column;
    margin-top: 8em;
    justify-content: space-around;
    .small {
      display: flex;
      flex-direction: column;
      h1 {
        width: fit-content;
        margin-bottom: 0.2em;
        font-size: 3em;
        border-bottom: 0.5px solid $blackCol;
      }
    }
    .content {
      height: 30%;
      width: 50%;
      img {
      }
    }
    .item {
      min-height: 100%;
      padding: 0;
      margin: 0;
      .large {
        display: none;
      }
      h1 {
      }
      .select {
        padding: 1em;
      }
      .icon {
        align-items: center;
        width: 100%;
        padding: 0;
        gap: 0;
        margin: 0;
        .benefits {
          height: 100%;
          img {
          }
          h5 {
            height: 100%;
            max-width: none;
            width: 100%;
            margin: 0;
            line-break: strict;
          }
        }
        .taste {
        }
      }
    }
  }
}
@media (min-width: 401px) and (max-width: 500px) {
  .wrap {
    .item {
      padding: 0;
    }
  }
}
