.wrap {
  min-height: 100vh;
  margin-top: 3.2em;
  text-align: center;
  overflow: hidden;
}
.wrap hr {
  background-color: var(--honey-color);
  color: var(--honey-color);
  height: 2px;
  border-width: 0;
  margin-bottom: 1em;
}

.products {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .products {
    flex-direction: row;
  }
}
