.wrap {
  min-height: 100vh;
  /* border: 3px solid red; */
  margin-top: 3.2em;
  text-align: center;
}
.wrap hr {
  /* border: 3px solid red; */
  background-color: var(--honey-color);
  color: var(--honey-color);
  height: 2px;
  border-width: 0;
  margin-bottom: 1em;
}
