@use "./mixins" as mix;
@use "./vars" as *;

.wrap {
  // position: relative;
  width: 100%;
  @include rtest();
  height: 100vh;
  display: flex;
  justify-content: space-around;
  .logo {
    // @include test();
  }
  // background-image: url("../assets/test.jpg");
  // background-size: contain 50%;
  // background-repeat: no-repeat;
  // background-position-y: 70%;
  // background-position: right;
  .content {
    gap: 1em;
    display: flex;
    flex-direction: column;
    // @include rtest();
    height: 100%;
    width: 50%;
    padding: 0.5em;
    span {
      color: $honeyCol;
    }
    p {
      // @include gtest();
      line-break: strict;
      // padding: 2em;
      // line-clamp: 2;
      // word-spacing: 1.5px;
      // width: 100%;
    }
    .img {
      align-self: flex-end;
      // position: relative;
      // left: 70%;
      // max-width: 30%;
      width: 60%;
      height: fit-content;
      object-fit: contain;
      // @include test();
    }
  }

  // background-position: bottom 10px right 10px;
  // background-position: revert-layer;
  // img {
  //   position: absolute;
  //   width: 100%;
  //   height: fit-content;
  //   object-fit: contain;
  //   // object-position: center;
  // }
}
@media (max-width: 680px) {
  .wrap {
    flex-direction: column;

    .content {
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  .logo {
    display: none;
  }
}
