@use "./mixins" as mix;
@use "./vars" as *;

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mix.button($bgCol, 8em);
}
.wrap:hover {
  @include mix.buttonHover();
}
.wrap:disabled,
.wrap[disabled] {
  opacity: 0.4;
}
