@use "./mixins" as mix;
@use "./vars" as *;
.wrap {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 60%;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top center;
    }
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    button {
      margin-top: 0.2em;
    }
  }

  button {
    @include mix.button($honeyCol, 20em);
  }
}
@media (max-height: 680px) {
  .wrap {
    justify-content: center;
    height: 78vh;
  }
}
