@use "./mixins" as mix;
@use "./vars" as *;

.wrap {
  // max-width: 50%;
  display: flex;
  border: 4px solid pink;
  justify-content: space-between;
  // flex-direction: column;

  .item {
    // border: 4px solid greenyellow;

    max-width: 50%;
    display: flex;
    flex-direction: column;
    .content {
      display: flex;
      gap: 1em;
      height: 100%;
      @include rtest(); // align-items: center;
      .img {
        @include test();
        width: 4em;
        height: fit-content;
      }
    }
  }
}
