@use "./mixins" as mix;
@use "./vars" as *;

.wrap {
  .content {
    display: flex;
    gap: 1em;
    height: 100%;
    @include rtest(); // align-items: center;
    .img {
      @include test();
      width: 4em;
      height: fit-content;
    }
  }
}
