@use "./mixins" as mix;
@use "./vars" as *;

.wrap {
  // max-width: 50%;
  display: flex;
  border: 4px solid pink;
  justify-content: space-between;
  // flex-direction: column;

  .content {
    // border: 4px solid greenyellow;

    max-width: 70%;
    display: flex;
    flex-direction: column;
    .item {
      display: flex;
      align-items: center;
      // gap: 1em;
      height: 100%;
      @include rtest(); // align-items: center;
      .img {
        @include test();
        width: 12%;
        height: fit-content;
      }
    }
  }
  .formWrap {
    @include gtest();
    width: 30%;
  }
}
