@use "./mixins" as mix;
@use "./vars" as *;

.wrap {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  button {
    padding: 0;
  }
  .content {
    outline: solid;
    display: flex;
    width: 35px;
    height: 35px;
    cursor: pointer;
    filter: invert(18%) sepia(0%) saturate(16%) hue-rotate(138deg)
      brightness(94%) contrast(92%);
  }
}

.content:hover {
  filter: invert(29%) sepia(77%) saturate(1903%) hue-rotate(347deg)
    brightness(82%) contrast(87%);
}
