@use "./mixins" as mix;
@use "./vars" as *;

.wrap {
  display: flex;
  align-items: center;
  width: 100%;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      width: 30px;
      height: 30px;
    }
  }
  font-size: 1.5em;
  button {
    padding: 0.2em; 
    @include mix.button($honeyCol, 20em);
  }
}
