@use "./mixins" as mix;
@use "./vars" as *;

.wrap {
  position: fixed;
  // top: 90vh;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // @include test();
  outline: 1px solid $blackCol;
  padding: 0.2em 3em;
  background-color: $dBgCol;
  div {
    gap: 1em;
    display: flex;
    button {
      @include mix.button($honeyCol, 20em);
    }
  }
}
@media (max-width: 675px) {
  .wrap {
    flex-direction: column;
    text-align: center;
    gap: 0.2em;
    padding: 0.1em;
  }
}
