@use "./mixins" as mix;
@use "./vars" as *;

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%; // max-width: 30%;
  height: 100%;
  @include test();
  padding: 0.3em;
  .content {
    gap: 4em;
    display: flex;
    flex-direction: column;
  }
}
