@use "./mixins" as mix;
@use "./vars" as *;

//for layout / children
// .mobile {
//   .container {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     height: calc(100vh - 5em);
//     // height: 100vh;
//     // padding-top: 5em;
//     // border: 4px solid red;
//     // top: 5em;
//     margin-top: 5em;
//   }
//   .mobileProt {
//     display: none;
//   }
// }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 5em);
  // height: 100vh;
  // padding-top: 5em;
  // border: 4px solid red;
  // top: 5em;
  // z-index: 1;
  margin-top: 5em;
}

// .fixed {
//   position: fixed;
//   // z-index: 4;
// }

.wrap {
  position: fixed;

  top: 0;
  display: flex;
  align-items: center;
  background-image: url("../assets/beepalbg.jpg");
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: left;
  z-index: 2;
  // @include rtest();
  height: 5em;
  // overflow: hidden;
  width: 100%;
  // overflow: hidden;
  .logo {
    // @include test();
    width: 80px;
    height: 80px;
  }
  .cart {
    margin-right: 1em;
  }
  // gap: 10em;
}

// .wrap {
//   @include test();

//   position: relative;
//   max-height: 10em;
//   overflow: hidden;
//   width: 100%;

//   .bgImg {
//     z-index: -1;
//     // max-height: 10em;
//     // max-width: 100%;
//     // object-fit: cover;
//     opacity: 0.6;
//   }
//   .content {
//     gap: 1em;
//     display: flex;
//     align-items: center;
//     top: 0.599em;
//     // left: 3em;
//     // padding-left: 3em;
//     position: absolute;
//     @include rtest();
//     width: 100%;
//     .logo {
//       // @include test();
//     }
//   }
// }
// @media (max-width: 668px) {
//   .content {
//     // height: 100%;
//     gap: 4em;
//     .logo {
//       // height: 100px;
//       @include gtest();
//       margin: 0;
//     }
//   }
// }

// @media (max-width: 904px) {
//   .mobile {
//     display: none;
//   }
//   .mobileProt {
//     // color: black;
//     text-align: center;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 100vh;
//     // z-index: 3;
//     // position: relative;
//     @include rtest();
//   }
// }
@media (max-width: 544px) {
  .wrap {
    // @include test();
    // position: fixed;
    justify-content: space-between;
  }
}
