@use "./mixins" as mix;
@use "./vars" as *;

.content {
  padding: 0.6em;
  width: 100%;
  border: 1px solid $dBgCol;
  border-radius: 7px;
}

.content:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: $honeyCol;
}
