@use "./mixins" as mix;
@use "./vars" as *;

// .wrap {
//   width: 100%;
//   // @include test();
//   padding: 0.5em;
//   // border: none;

//   // column-fill: auto;
// }
.content {
  padding: 0.6em;
  width: 100%;
  border: 1px solid $dBgCol;
  border-radius: 7px;
}

.content:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: $honeyCol;
}
