@use "./mixins" as mix;
@use "./vars" as *;

.wrap {
  display: none;
}
.content {
  display: none;
}
// .contentActive {
//   margin: 0;
//   padding: 0;
//   // top: 4em;
// }
@media (max-width: 544px) {
  .wrap {
    // z-index: -1;

    display: flex;
    // width: 100%;
    margin: 0.5em;
    background-color: $bgCol;
    border-radius: 999px;
  }
  .contentActive {
    display: flex;
    margin: 0;
    padding: 0;

    // border: 2px solid green;
  }
}
